.validation-box {
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.validation-box_error {
    border: 0.3125rem solid #cd0000;
}

.validation-box_warning {
    border: 0.3125rem solid #b16804;
}

.page-validation-help {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.page-validation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-validation-item {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.5;
}
