.tabsCustom {
    overflow: initial !important; 
    overflow-y: initial !important;  
}


.slds-vertical-tabs { 
    display: flex !important;
}

.slds-vertical-tabs__nav {
    width: var(--custom-nav-width, 12rem) !important;
    border-right: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder, #939393)) !important;
    background: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackground, #FFFFFF)) !important;
}

@media screen and (max-width: 768px) {
    .slds-vertical-tabs {
        display: block !important;
    }

    .slds-vertical-tabs__nav {
        width: 100% !important;
        border-right: none !important;
        background: none !important;
    }   
}